def (fizzbuzz n) do
  def (div3 n) (Math.rem n 3) == 0
  def (div5 n) (Math.rem n 5) == 0

  def (loop m) do
    cond do
      (div3 m) and (div5 m) -> print "FizzBuzz"
      (div3 m)              -> print "Fizz"
      (div5 m)              -> print "Buzz"
      true                  -> print m
    end

    if m < n do
      loop m + 1
    end
  end

  loop 1
end

fizzbuzz 100
