import Geom
import Enum

let Pt = Geom.Pt

def (bezier c1 c2 c3 c4) do
  if (Geom.dist c1 c4) < 2 do
    Canvas.line (c1 :x) (c1 :y) (c2 :x) (c2 :y)
  else
    let a1 = (Geom.midpoint c1 c2),
        a2 = (Geom.midpoint c2 c3),
        a3 = (Geom.midpoint c3 c4),
        b1 = (Geom.midpoint a1 a2),
        b2 = (Geom.midpoint a2 a3),
        m = (Geom.midpoint b1 b2)
    bezier c1 a1 b1 m
    bezier m b2 a3 c4
  end
end

Enum.each (Enum.iota 10) (i) -> do
  let p1 = (Geom.random_pt),
      p2 = (Geom.random_pt),
      p3 = (Geom.random_pt),
      p4 = (Geom.random_pt)

  ; Gfx.draw_pt p1
  ; Gfx.draw_pt p2
  ; Gfx.draw_pt p3
  ; Gfx.draw_pt p4

  bezier p1 p2 p3 p4
end
