@font-face {font-family: "Berkeley Mono"; src: url("fonts/BerkeleyMono.woff2"); font-weight: normal; font-style: normal;}
@font-face {font-family: "Berkeley Mono"; src: url("fonts/BerkeleyMono-Bold.woff2"); font-weight: bold; font-style: normal;}
@font-face {font-family: "Berkeley Mono"; src: url("fonts/BerkeleyMono-Italic.woff2"); font-weight: normal; font-style: italic;}
@font-face {font-family: "Berkeley Mono"; src: url("fonts/BerkeleyMono-BoldItalic.woff2"); font-weight: bold; font-style: italic;}
@font-face {font-family: "Libre Franklin"; src: url("fonts/LibreFranklin-Regular.ttf"); font-weight: 400; font-style: normal; }
@font-face {font-family: "Libre Franklin"; src: url("fonts/LibreFranklin-Medium.ttf"); font-weight: 500; font-style: normal; }
@font-face {font-family: "Libre Franklin"; src: url("fonts/LibreFranklin-SemiBold.ttf"); font-weight: 600; font-style: normal; }
@font-face {font-family: "Libre Franklin"; src: url("fonts/LibreFranklin-RegularItalic.ttf"); font-weight: 400; font-style: italic; }
@font-face {font-family: "Libre Franklin"; src: url("fonts/LibreFranklin-MediumItalic.ttf"); font-weight: 500; font-style: italic; }
@font-face {font-family: "Libre Franklin"; src: url("fonts/LibreFranklin-SemiBoldItalic.ttf"); font-weight: 600; font-style: italic; }

*, *::before, *::after {box-sizing: border-box;}
:root {
  min-height: 100vh;
  --dark:     #2D2F38;
  --dk-gray:  #404357;
  --lt-gray:  #8A8EA6;
  --light:    #F0F1F3;
  --less-lt:  #EBEBEC;
  --less-dk:  #383A45;

  --base03:   #002b36;
  --base02:   #242e30;
  --base01:   #586e75;
  --base00:   #657b83;
  --base0:    #839496;
  --base1:    #93a1a1;
  --base2:    #eee8d5;
  --base3:    #fdf6e3;
  --red:      #dc322f;
  --orange:   #cb4b16;
  --yellow:   #b58900;
  --green:    #859900;
  --cyan:     #2aa198;
  --blue:     #268bd2;
  --magenta:  #d33682;
  --violet:   #6c71c4;

  background: var(--light);
}
body {display: flex; flex-direction: column; margin: 0; color: var(--dark); font-family: "Libre Franklin", sans-serif; font-size: 14pt; line-height: 1.5; padding: 0 10px; min-height: 100vh;}
input, textarea, button {font-family: inherit}
#container {display: flex; flex-direction: row-reverse; justify-content: center; flex: 1; max-width: 1070px; margin: auto;}
main {flex-basis: 900px; max-width: 100%;}
pre,code {font-family: "Berkeley Mono", monospace;}
pre {border: 1px solid var(--dark); border-radius: 6px; padding: 8px; box-shadow: inset 0 0 4px -2px var(--dark); line-height: 1; overflow-x: auto; background: var(--less-lt);}
code {font-size: 12pt; border: 1px solid var(--dark); border-radius: 3px; padding: 0 4px; margin: 0 2px;}
pre code {font-size: 13pt; border: none; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {font-family: "Berkeley Mono", monospace;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {text-decoration: none;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {text-decoration: none; color: inherit; position: relative;}
h1 a::before,h2 a::before,h3 a::before,h4 a::before,h5 a::before,h6 a::before {content: ''; display: block; width: 16px; height: 100%; background-image: url(icons.svg#link); background-position: center; background-repeat: no-repeat; position: absolute; top: 0; left: -20px; visibility: hidden;}
h1 a:hover::before,h2 a:hover::before,h3 a:hover::before,h4 a:hover::before,h5 a:hover::before,h6 a:hover::before {visibility: visible;}
h1:first-child {margin-top: 0;}
h2 {margin-top: 2.5em; border-bottom: 1px solid var(--dark);}
h3 {margin-top: 2em;}
footer {width: 80%; text-align: center; margin-top: 80px; margin-bottom: 40px; margin-left: auto; margin-right: auto;  padding-top: 40px; border-top: 1px solid var(--dark); font-size: 12pt;}
footer .copyright {margin-bottom: 20px;}
.banner, figure img {max-height: 180px; max-width: 100%; display: block; margin: 0 auto;}
figure {margin: 0; overflow-x: auto;}
figcaption {display: none;}
aside::before {content: 'i'; font-family: "Berkeley Mono", monospace; font-weight: bold; font-style: italic; position: absolute; top: 0; left: 10px; display: flex; width: 24px; height: 100%; justify-content: center; align-items: center; color: var(--dk-gray);}
aside {font-size: 12pt; margin: 2em 0; padding: 0px 20px 0px 50px; position: relative; color: var(--dk-gray);}
a {color: inherit;}
.link {border: none; background: none; text-decoration: underline; color: inherit; cursor: pointer; padding: 0; font-size: 1em;}
.small {font-size: 0.8em;}
table {border-collapse: collapse; margin-left: 50px;}
th {text-align: left;}
th, td {border-bottom: 1px solid var(--dark); padding: 4px 12px;}
td > code {border: none;}
table.trace {font-family: "Berkeley Mono", monospace; font-size: 12pt;}
table.trace th {border-bottom: 1px solid var(--dark);}
table.trace td {border-bottom: none; border-left: 1px solid var(--dark); padding: 0 1em;}
table.trace td:first-child {border-left: none;}
table.trace td:nth-child(1) {width: 50px; text-align: right;}
table.trace td:nth-child(2) {width: 50px; text-align: right;}
table.trace td:nth-child(4) {width: 50px; text-align: center;}
.columns {display: flex;}
.columns.reverse {flex-direction: row-reverse;}
.columns > * {width: 50%;}
.columns > :first-child {margin-right: 1em;}
.columns.reverse > :first-child {margin-right: 0;}
.columns.reverse > :last-child {margin-right: 1em;}
#showtoc {display: none; width: 3em; padding-top: 50px;}
#showtoc button {position: fixed; left: 0; margin-left: 0.25em; transform: rotate(90deg); transform-origin: bottom left;}

#container.notoc #toc {display: none;}
#container.notoc #showtoc {display: initial;}
#container.notoc main {margin-left: 0;}
#toc {width: 200px; position: relative; flex-shrink: 0; margin-top:40px;}
#toc nav {margin-top: 0px; margin-right: 20px; width: 180px; position: fixed;}
#toc nav::before {content: 'Contents'; text-decoration: underline; font-style: italic;}
#toc nav > ul {list-style: none; padding-left: 0; margin-top: 0.5em; margin-bottom: 0;}
#toc nav li {padding-left:20px; text-indent: -20px;}
#toc nav ul a {text-decoration: none;}
#toc nav > a {font-size: 0.8em;}

code .fu {color: var(--blue);}
code .cf {color: var(--green);}
code .dv {color: var(--violet);}
code .op {color: var(--green);}
code .cn {color: var(--red);}
code .bu {color: var(--yellow);}
code .st {color: var(--cyan);}
code .im {color: var(--red);}
code .co {color: var(--lt-gray);}
code .va {color: var(--yellow);}

.dark { display: none; }
@media (prefers-color-scheme: dark) {
  .dark { display: initial; }
  .light { display: none; }
  * {border-color: var(--light) !important; }
  :root {background: var(--dark);}
  body {color: var(--light); }
  aside {color: var(--light);}
  aside::before {color: var(--light);}
  pre {background: none;}
}
@media (max-width: 1050px) {
  #container {margin: 0;}
  #toc {display: none;}
  #container.notoc #showtoc {display: none;}
  main {margin-left: 0 !important;}
  table {margin-left: 0; min-width: 700px;}
  h1 a::before,h2 a::before,h3 a::before,h4 a::before,h5 a::before,h6 a::before {background-image: none;}
  .columns {display: initial;}
  .columns > * {width: initial;}
  .columns > :first-child {margin-right: 0;}
  .columns.reverse > :first-child {margin-right: 0;}
  .columns.reverse > :last-child {margin-right: 0;}
}
